@import services.SiteInfo
@import play.i18n._
@(site_info: SiteInfo, user: User)

<div class="ui bottom attached segment pushable" style="border:0px;">
  <div class="ui inverted left vertical sidebar menu">
    <a class="item" href="@routes.HomeController.index">
      <i class="home icon"></i>
 		@site_info._messages.at("pages.index.title")
    </a>
    <a class="item">
      <i class="block layout icon"></i>
      Topics
    </a>
	@if(user == null){
    <a class="item" href="@routes.Login.index">
      <i class="user icon"></i>
 	  @site_info._messages.at("pages.login.title")
    </a>
    <a class="item" href="@routes.Register.index">
      <i class="add user icon"></i>
      @site_info._messages.at("pages.register.title")
    </a>
	}else{
    <a class="item" href="@routes.Login.logout">
      <i class="sign out icon"></i>
      @site_info._messages.at("pages.logout.title")
    </a>
	}
  </div>

  <div class="pusher">

	<div class="ui top attached demo menu">
	  <a class="item" id="menu-open">
	    <i class="large sidebar icon"></i>
	  </a>
	  <div class="right menu hidden-xs" id="login-menu">
		@if(user == null){
		<a href="@routes.Login.index"><button class="ui teal basic button">@site_info._messages.at("pages.login.title")</button></a>
		<a href="@routes.Register.index"><button class="ui blue basic button">@site_info._messages.at("pages.register.title")</button></a>
		}else{
		<a href="@routes.Login.logout"><button class="ui teal basic button">@site_info._messages.at("pages.logout.title")</button></a>
		}
	  </div>
	</div>

	<div class="ui basic segment">

<script>
// using context
jQuery('.ui.sidebar')
  .sidebar({
    context: jQuery('.bottom.segment')
  })
  .sidebar('attach events', '#menu-open')
;
</script>
